# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      # bincode is pinned to 1.3.3 due to the project being archived and unmaintained
      # See: https://github.com/hut8/soar/pull/852
      # Do not update bincode to prevent potential security issues with unmaintained versions
      - dependency-name: "bincode"
    groups:
      major:
        applies-to: version-updates
        update-types:
          - "major"
      minor:
        applies-to: version-updates
        update-types:
          - "patch"
          - "minor"      
  - package-ecosystem: "npm"
    directory: "/web"
    schedule:
      interval: "weekly"
    groups:
      major:
        applies-to: version-updates
        update-types:
          - "major"
      minor:
        applies-to: version-updates
        update-types:
          - "patch"
          - "minor"         
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    # You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.
    directory: "/"
    schedule:
      interval: "weekly"
