[Unit]
Description=Pelias Placeholder Admin Lookup Service
Documentation=https://github.com/pelias/placeholder
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=root
ExecStartPre=-/usr/bin/docker stop pelias_placeholder
ExecStartPre=-/usr/bin/docker rm pelias_placeholder
ExecStart=/usr/bin/docker run --rm --name pelias_placeholder -p 4100:3000 -v /opt/pelias/docker/data:/data pelias/placeholder
ExecStop=/usr/bin/docker stop pelias_placeholder
Restart=on-failure
RestartSec=10s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pelias-placeholder

[Install]
WantedBy=multi-user.target
