@tailwind base;
@tailwind components;  
@tailwind utilities;
@import '@skeletonlabs/skeleton/themes/theme-skeleton.css';
@import '@skeletonlabs/skeleton/styles/skeleton.css';

html, body { @apply h-full overflow-hidden; }