@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton-svelte';

@custom-variant dark (&:where(.dark, .dark *));

/* Ensure full height layout */
html,
body {
	height: 100%;
}

#svelte {
	height: 100%;
	display: flex;
	flex-direction: column;
}
