@import 'tailwindcss';

@import '@skeletonlabs/skeleton/dist/index.css';
@import '@skeletonlabs/skeleton-svelte/dist/index.css';
@import '@skeletonlabs/skeleton-common/dist/index.css';
@import '@skeletonlabs/skeleton/dist/themes/cerberus.css';

@custom-variant dark (&:where(.dark, .dark *));

/* Ensure full height layout */
html,
body {
	height: 100%;
}

#svelte {
	height: 100%;
	display: flex;
	flex-direction: column;
}
