@import 'tailwindcss';

@theme {
  @source '../node_modules/@skeletonlabs/skeleton-common/dist';
}

@import '@skeletonlabs/skeleton/dist/themes/cerberus.css';

@custom-variant skb (&);
@custom-variant dark (&:where(.dark, .dark *));

/* Ensure full height layout */
html,
body {
	height: 100%;
}

#svelte {
	height: 100%;
	display: flex;
	flex-direction: column;
}
